{{!-- views/login.handlebars --}}
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>新增一筆帳務</h1>
      {{!-- 引用messages這個partial view --}}
      <form action="/report/new" method="GET">
        <div class="row">
          <div class="col-sm-2" style="font-size: 20px; vertical-align: middle;">
            <label for="billname">＊名稱</label>
          </div>
          <div class="col-sm-10">
            <input type="billname" id="billname" name="billname" class="form-control" placeholder="支出名稱"
              value='{{{record.name}}}' />
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-2" style="font-size: 20px; vertical-align: middle;">
            <label class="control-label" for="datepicker">＊日期</label>
          </div>
          <div class="col-sm-10">
            <input id="datepicker" class="form-control" value="{{{record.date}}}" />
            <script>
              $('#datepicker').datepicker({
                uiLibrary: 'bootstrap4'
              });
            </script>
          </div>
        </div>

        <div class=" row mt-2">
          <div class="col-sm-2" style="font-size: 20px; vertical-align: middle;">
            <label for="billcategory">＊類別</label>
          </div>
          <div class="col-sm-10">
            <select id="billcategory" class="form-control">
              <option value='house'>家居物業</option>
              <option value='traffic'>交通出行</option>
              <option value='entertainment'>休閒娛樂</option>
              <option value='food'>餐飲食品</option>
              <option value='others'>其他</option>
            </select>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-2" style="font-size: 20px; vertical-align: middle;">
            <label for="billamount">＊金額</label>
          </div>
          <div class="col-sm-10 mb-3">
            <input type="billamount" id="billamount" name="billamount" class="form-control" placeholder="支出金額" />
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">送出</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>